@import '~antd/dist/antd.css';

.package {
	max-width: 100%;
	width: 100%;
	min-height: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	background-color: #f2f2f2;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
	transition: box-shadow 300ms ease-in-out;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
		box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
	}

	&__title {
		max-width: 75%;
		margin: 0 !important;
	}

	&__amount {
		max-width: 25%;
		width: 100%;
		flex: 0 0 25%;
		text-align: right;
	}

	&__image {
		border-radius: 2px 0 0 2px;
	}

	.ant-badge {
		margin-right: 8px;
	}

	&__meta {
		max-width: 40%;
		width: 100%;
		flex: 0 0 40%;
	}

	&__details {
		max-width: 60%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding: 15px 20px;

		&-header,
		&-content,
		&-footer {
			width: 100%;
		}

		&-header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}

		&-content {
			margin-bottom: 10px;
		}

		&-footer {
			border-top: 1px solid rgba(0, 0, 0, 0.2);
			padding-top: 10px;
			margin-top: auto;
		}
	}

	&--selected {
		// border: 2px solid #7ac500;
		border-color: #7ac500;
		// outline: 2px solid #7ac500;
	}
}
