@import '~antd/dist/antd.css';

.payment {
	&__content {
		min-width: 600px;
		height: calc(100vh - 95px);
	}

	&__row {
		height: 100%;
		padding-top: 30px;
	}

	&__agreement {
		padding: 15px;
		border: 1px solid #666666;
	}

	&-card,
	&-cart {
		background-color: #ffffff;
		padding: 30px;
		box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
	}
}

.cartItem {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: aqua;
	padding: 10px 15px;

	&__amount {
		font-weight: 700;
	}
}
