@import '~antd/dist/antd.css';

.payment {
	&-content {
		min-height: 860px;
		height: calc(100vh - 95px);
		padding: 50px 15px;
	}

	&-row {
		height: 100%;
	}

	&-agreement {
		&__content {
			padding: 15px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 4px;
		}
	}

	&-card,
	&-cart {
		background-color: #ffffff;
		padding: 30px;
		box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
	}

	&-card {
		&__form-container {
			margin-bottom: 50px;
		}

		&-form {
			padding: 15px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 4px;

			.ant-input-group {
				.ant-form-item {
					margin: 0;
				}
			}

			&__masked-input {
				.ant-form-item-has-error & {
					background: #fff;
					border-color: #ff4d4f;
				}
			}
		}
	}

	&-cart {
		&__list-item {
			margin-bottom: 8px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__buy-button {
		border-radius: 4px;
	}
}

.cartItem {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #d6e6ff;
	border-radius: 4px;
	padding: 10px 15px;

	&__amount {
		font-weight: 700;
	}
}
